._25c4{float:left;padding-top:3px}._25c3,._25c2{vertical-align:middle}._25c2{margin-right:3px}._25c1{margin-left:3px;margin-right:3px;vertical-align:middle}
._r1j{margin-bottom:15px;margin-top:15px;text-align:center}._r1l{margin:0 auto;width:450px}._r1n{margin-top:15px}

#bootloader_2_ymO{height:42px;}.bootloader_2_ymO{display:block!important;}