.sp_97Fm0yM2Eii{background-image:url(/rsrc.php/v3/y_/r/fXj1xbZrGo9.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_97Fm0yM2Eii.sx_777412{background-position:0 0}.sp_97Fm0yM2Eii.sx_74e47e{background-position:0 -17px}

#bootloader__JHwI{height:42px;}.bootloader__JHwI{display:block!important;}