._3g0s{display:flex}._3g0s ._5v_d{margin-top:0}
._4438{margin-left:auto;margin-right:auto;margin-top:20px;width:400px}._4439{border-style:none}._4431{background-color:#fff;height:400px;margin-top:52px;opacity:.6;position:absolute;top:0;width:400px}._3f0q{margin-top:20px}._442_{padding-bottom:5px}._4430{width:100%}

#bootloader_iNZmp{height:42px;}.bootloader_iNZmp{display:block!important;}